services:
###############################
#                             #
#   CCC AA  DDD  DDD  Y   Y   #
#  C   A  A D  D D  D  Y Y    #
#  C   AAAA D  D D  D   Y     #
#  C   A  A D  D D  D   Y     #
#   CCCA  A DDD  DDD    Y     #
#                             #
###############################

  caddy:
    image: caddy:2.6.4-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - "{{ PROJECT_ROOT }}/volumes/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "{{ PROJECT_ROOT }}/volumes/caddy/data:/data"
      - "{{ PROJECT_ROOT }}/volumes/caddy/config:/config"
      - "{{ PROJECT_ROOT }}/volumes/caddy/static:/static"


##########################################
#                                        #
#       CCC  L      OOO  U   U DDDD      #
#      C   C L     O   O U   U D   D     #
#      C     L     O   O U   U D   D     #
#      C   C L     O   O U   U D   D     #
#       CCC  LLLLL  OOO   UUU  DDDD      #
#                                        #
##########################################

  nextcloud:
    image: nextcloud:29.0.7
    container_name: nextcloud
    expose:
      - 80
    volumes:
      - "{{ PROJECT_ROOT }}/volumes/cloud/nextcloud:/var/www/html"
    environment:
      - MYSQL_PASSWORD={{ NEXTCLOUD_MARIADB_PASSWORD }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER={{ NEXTCLOUD_MARIADB_USER }}
      - MYSQL_HOST=nextcloud-db
    depends_on:
      - nextcloud-db
    restart: "unless-stopped"
  
  nextcloud-db:
    image: mariadb:11.5.2
    container_name: nextcloud-db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - "{{ PROJECT_ROOT }}/volumes/cloud/mariadb:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ NEXTCLOUD_MARIADB_ROOT }}"
      MYSQL_PASSWORD: "{{ NEXTCLOUD_MARIADB_PASSWORD }}"
      MYSQL_DATABASE: "nextcloud"
      MYSQL_USER: "{{ NEXTCLOUD_MARIADB_USER }}"
    restart: "unless-stopped"


# ██████╗      ██╗ █████╗ ███╗   ██╗ ██████╗  ██████╗ 
# ██╔══██╗     ██║██╔══██╗████╗  ██║██╔════╝ ██╔═══██╗
# ██║  ██║     ██║███████║██╔██╗ ██║██║  ███╗██║   ██║
# ██║  ██║██   ██║██╔══██║██║╚██╗██║██║   ██║██║   ██║
# ██████╔╝╚█████╔╝██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝
# ╚═════╝  ╚════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ 
                                                    

  djangodb:
    container_name: "djangodb"
    image: postgres:16.4
    volumes:
      - "{{ PROJECT_ROOT }}/volumes/django/postgresql:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: "{{ DJANGO_DB }}"
      POSTGRES_USER: "{{ DJANGO_DB_USER }}"
      POSTGRES_PASSWORD: "{{ DJANGO_DB_PASSWORD }}"
    restart: "unless-stopped"
  
  django:
    container_name: "django"
    image: "registry.gitlab.com/lab61/nakkewebsite:main"
    command: gunicorn --bind=0.0.0.0 nakkefestival.wsgi
    ports:
      - "8000:8000"
    environment:
      POSTGRES_NAME: "{{ DJANGO_DB }}"
      POSTGRES_USER: "{{ DJANGO_DB_USER }}"
      POSTGRES_PASSWORD: "{{ DJANGO_DB_PASSWORD }}"
      EMAIL_HOST: "{{ EMAIL_HOST }}"
      EMAIL_HOST_USER: "{{ EMAIL_HOST_USER }}"
      EMAIL_HOST_PASSWORD: "{{ EMAIL_HOST_PASSWORD }}"
      DEFAULT_FROM_EMAIL: "{{ DEFAULT_FROM_EMAIL }}"
      EMAIL_VERIFICATION_URL: "http://127.0.0.1:8000/profil/verify-email"
      RESET_PASSWORD_URL: "https://127.0.0.1:8000/profil/ny-kode"
    depends_on:
      - djangodb
    restart: "unless-stopped"
